* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dashboard: rgba(228, 228, 230, 0.5);
  --borderlines: rgba(0, 0, 0, 0.2);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 14fr 1fr;
  grid-template-columns: minmax(250px, auto) 4fr;
}

#dashboard {
  background-color: var(--dashboard);
  grid-row: 1;
  grid-column: 1;
  border-bottom: 0.5px solid var(--borderlines);
  border-right: 0.5px solid var(--borderlines);
  padding: 10px 0;
}

#dashboard__controls {
  background-color: var(--dashboard);
  grid-row: 2;
  grid-column: 1;
  border-top: 0.5px solid var(--borderlines);
  border-right: 0.5px solid var(--borderlines);

  /* Other Styling */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#workspace {
  background-color: white;
  grid-row: 1;
  grid-column: 2;
  border-bottom: 0.5px solid var(--borderlines);
  border-left: 0.5px solid var(--borderlines);
}

#workspace__controls {
  background-color: white;
  grid-row: 2;
  grid-column: 2;
  border-top: 0.5px solid var(--borderlines);
  border-left: 0.5px solid var(--borderlines);
}

/* Dashboard Entries */

.proj {
  padding: 10px 10px 10px 20px;
  width: 100%;
}

.proj p,
.indProj {
  margin-left: 15px;
  padding: 5px 0;
}

.titleCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleCard img {
  height: 30px;
  width: 30px;
}

.titleCard img:hover {
  cursor: pointer;
}

/* TODO: Fix error on inputs larger than the nodes */
.renameProj {
  width: 175px;
}

/* Dash Control Center */
#dashboard__controls img {
  height: 30px;
  width: 30px;
}

#dashboard__controls div {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.4rem;
}
